In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import glob
import os
import pandas as pd
import numpy as np
import csv
import re
from mpl_toolkits.mplot3d import Axes3D
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from bs4 import BeautifulSoup
import requests
import scipy
import re

In [6]:
tempurl1 = "https://www.fantasypros.com/nfl/adp/overall.php?print=true"
page = requests.get(tempurl1)
soup = BeautifulSoup(page.text, 'html.parser')

In [7]:
soup2 = BeautifulSoup(str(soup.find_all('td')))

In [8]:
lines = str(soup2).split('href')
lines = lines[1:]
lines2 = str(lines).split(',')
# lines2.append('TEST')

In [9]:
twolines = []
for i in range(0,len(lines)):
    temp = []
    if lines[i][0:6] == '="/nfl':
        temp.append(lines[i].split('=')[-1])
        test = lines[i + 1].split(',')[1:8]
        for j in test:
#             temp.append(re.sub("[^0-9]", "", j))
            temp.append(j.split('>')[1].split('<')[0])
#         re.sub("[^0-9]", "", test)
        twolines.append(temp)
#         temp.append(lines[i])
# print(twolines)

In [10]:
df = pd.DataFrame(twolines)

In [11]:
df = df.iloc[0:410]

In [12]:
df.reset_index(level=0, inplace=True)

In [13]:
# df.drop([1, 0])

In [14]:
df.columns = ['Rank','player', 'POSrank', 'r1','r2','r3','r4','ravg','r6']

In [15]:
df

     Rank                  player POSrank r1   r2 r3     r4 ravg r6
0       0  "Christian McCaffrey"      RB1  1    1  1    1.0    2
1       1          "Dalvin Cook"      RB2  2    2  3    2.3    3
2       2        "Derrick Henry"      RB3  4    3  2    3.0    4
3       3         "Alvin Kamara"      RB4  3    4  4    3.7    5
4       4           "Nick Chubb"      RB5  7    5  5    5.7    6
..    ...                     ...     ... ..  ... ..    ...  ... ..
346   346         "N'Keal Harry"    WR122     346     346.0  348
347   347    "Donald Parham Jr."     TE35     347     347.0  349
348   348     "Austin MacGinnis"      K30     348     348.0  350
349   349          "Devin Smith"    WR123     349     349.0  351
350   350         "Chris Conley"    WR124     350     350.0

[351 rows x 9 columns]

In [19]:
oldDf = pd.read_csv('PlayerRankings.csv')

In [20]:
oldDf

     Rank                  player POSrank      Tier
0       0  "Christian McCaffrey"      RB1       RB.
1       1          "Dalvin Cook"      RB2       RB.
2       2        "Derrick Henry"      RB3       RB.
3       3         "Alvin Kamara"      RB4      RB..
4       4       "Saquon Barkley"      RB5      RB..
..    ...                     ...     ...       ...
288   347         "Jalen Guyton"    WR117       NaN
289   348          "Tutu Atwell"    WR118  WR......
290   349         "Damiere Byrd"    WR119       NaN
291   350         "N'Keal Harry"    WR120       NaN
292   351          "Devin Smith"    WR121       NaN

[293 rows x 4 columns]

In [21]:
result = pd.merge(df, oldDf, how="left", on=["player"])

In [ ]:
df.to_csv('newPlayerRankings1.csv')